In [1]:
# Phase 1 (Data collection preparation part)
#Note: 
#You can collect data from anywhere (wiki, google, etc) but mention the link from where data is being collected.
#You can collect the data manually. It's NOT a web scraping task.
#Data should be collected for the years mentioned in the files. (If you don't find proper data, make your best judgment and fill it, It's absolutely OK. Do not worry about data accuracy)
#The population of each state.
#Literacy Rate in each state
#Area of each state
#Collect any other data that helps with your analysis. There is no limitation for anything.
#Create a new file and keep the above-collected data

In [3]:
import pandas as pd

In [8]:
population_data=pd.read_excel("phase_1.xlsx")

In [9]:

population_data.head()

   #          State  Population  Area(Km2)  Literacy
0  -          India  1210854977    3287240     74.04
1  1  Uttar Pradesh   199812341     240928     67.68
2  2    Maharashtra   112374333     307713     82.34
3  3          Bihar   104099452      94163     61.80
4  4    West Bengal    91276115      88752     76.26

In [10]:
# Data collected from https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_crime_rate and cencus_2011